---
---
/* Base variables */
:root {
    /* Light mode variables */
    --background-color: #f4f4f4;
    --text-color: #333;
    --header-bg-color: #0056b3;
    --option-group-bg: white;
    --option-group-text: #333;
    --slider-bg: #ccc;
    --slider-active-bg: #2196F3;
    --input-bg: white;
    --input-border-color: #ccc;
    --box-shadow-color: rgba(0,0,0,0.2);
    --title-h2-color: #0056b3;
}

/* Dark mode variables */
@media (prefers-color-scheme: dark) {
    :root {
        --background-color: #121212;
        --text-color: #e0e0e0;
        --header-bg-color: #0a3a82;
        --option-group-bg: #333;
        --option-group-text: #e0e0e0;
        --slider-bg: #555;
        --slider-active-bg: #0078D4;
        --input-bg: #555;
        --input-border-color: #777;
        --box-shadow-color: rgba(255,255,255,0.1);
        --title-h2-color: #006add;
    }
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: var(--background-color);
    color: var(--text-color);
}

.header {
    background-color: var(--header-bg-color);
    color: white;
    padding: 20px 40px;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
}

.logo {
    height: 50px;
    vertical-align: middle;
    margin-right: 20px;
}

h1 {
    display: inline;
    vertical-align: middle;
    font-size: 30px;
}

.option-group {
    background-color: var(--option-group-bg);
    color: var(--option-group-text);
    margin: 20px auto;
    padding: 20px;
    max-width: 600px;
    box-shadow: 0 2px 5px var(--box-shadow-color);
    border-radius: 8px;
    font-size: 16px;
    line-height: 20px;
}


/* Adjusting the vertical alignment for text to match the switch */
h2 {
    color: var(--title-h2-color);
    margin: 0;
    line-height: 32px;

}

label {
    display: block;
    font-size: 16px;
}

.cta-container {
    text-align: center;
    margin: 40px 0;
}

.cta-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #4285F4;
    color: white;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    transition: all 0.2s ease-in-out;
}

.cta-button:hover {
    background-color: #3367D6;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}
